# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE/editor specific files
.vscode/
.idea/
*.swp

# Logs and databases
*.log
*.sqlite3

# Test and coverage reports
htmlcov/
.coverage
.cache/
nosetests.xml
coverage.xml

# Python packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
